body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: #1939f6;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  #calculator {
    width: 300px;
    height: 540px;
    margin: 10px;
    margin: auto;
    color: #fff !important;
    background: #191b1d;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .5);
    border-radius: 8px;
    animation: 1s bounceIn;
    animation-fill-mode: forwards;
    opacity: 0;
    .screen-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 38%;
      text-align: right;
      .calculation,
      .result {
        width: 100%;
        height: 50%;
        padding-right: 15px;
      }
      .result {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #1939f6;
        .number {
          font-size: 50px;
          font-weight: 800;
        }
      }
    }
    .btn-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 62%;
      .oper-container {
        position: absolute;
        top: -100px;
        left: -25px;
        z-index: 10;
        width: 50px;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, .5);
        animation: 1s bounceIn;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        opacity: 0;
        .btn {
          position: static;
          //border-radius: 1000px;
          display: flex;
          width: 50px;
          height: 50px;
          color: #1939f6;
          background: #1939f6;
          background: #fff;
          //position: absolute;
          cursor: pointer;
          //border: 1px solid #191b1d;
          .number {
            margin: auto;
          }
        }
        .btn#clear.animate {
          animation: fade .12s ease-in-out;

          animation-direction: reverse;
        }
        .btn#clear {
          display: flex;
          width: 50px;
          // position: absolute;
          // bottom: 50px;
          // left: -25px;
          height: 50px;
          font-size: 16px;
          background: #1e2022;
          box-shadow: 10px 10px 50px rgba(0, 0, 0, .5);
          border-radius: 8px 0 0 0;
          cursor: pointer;
          .number {
            margin: auto;
            color: #fff !important;
          }
        }
      }
      .row {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 25%;
        .btn {
          display: flex;
          width: 100%;
          height: 100%;
          text-align: center;
          background: #1e2022;
          border: .5px solid #191b1d;
          cursor: pointer;
          .number {
            margin: auto;
            animation: 1s fadeIn;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            opacity: 0;
          }
        }
        .btn:nth-child(1) {
          border-left: none;
        }
        .btn:nth-child(3) {
          border-right: none;
        }
        .btn.animate {
          animation: fade .12s ease-in-out;
        }
        .btn#result {
          position: absolute;
          right: -12px;
          bottom: -12px;
          width: calc(33% * 1.25);
          height: calc(100% * 1.25);
          background: #1939f6;
          border: .5px rgba(0,0,0,.0001);
          border-bottom-right-radius: 8px;
        }
        .btn#result:not(.resetappearanim) {
          animation: 1s bounceIn;
          animation-delay: .5s;
          animation-fill-mode: forwards;
          opacity: 0;
        }
        .btn#result.animate {
          animation: fade .12s ease-in-out;

          animation-direction: reverse;
        }
        .btn#dot {
          border-bottom-left-radius: 8px;
        }
      }
      .row:last-child {
        .btn {
          border-bottom: none;
        }
      }
      .btn.operations.animate {
        animation: fadeThird .12s ease-in-out;

        animation-direction: reverse;
      }
      .btn.operations.divide {
        top: calc(25% - 25px);
        left: calc(33% - 25px);
      }
      .btn.operations.multiplication {
        top: calc(25% - 25px);
        left: calc(66% - 25px);
      }
      .btn.operations.plus {
        top: calc(50% - 25px);
        left: calc(66% - 25px);
      }
      .btn.operations.less {
        top: calc(50% - 25px);
        left: calc(33% - 25px);
        border-radius: 0 0 8px 0;
      }
    }
  }
}

@keyframes fade {
  from {
    background: #1e2022;
  }

  to {
    background: #1939f6;
  }
}

@keyframes fadeThird {
  from {
    //background: #1e2022;
    background: #fff;
  }

  to {
    background: #1e2022;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1);

    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
            transform: scale3d(.3, .3, .3);
    opacity: 0;

    -webkit-transform: scale3d(.3, .3, .3);
  }

  20% {
            transform: scale3d(1.1, 1.1, 1.1);

    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
            transform: scale3d(.9, .9, .9);

    -webkit-transform: scale3d(.9, .9, .9);
  }

  60% {
            transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;

    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
            transform: scale3d(.97, .97, .97);

    -webkit-transform: scale3d(.97, .97, .97);
       -moz-transform: scale3d(.97, .97, .97);
        -ms-transform: scale3d(.97, .97, .97);
         -o-transform: scale3d(.97, .97, .97);
  }

  to {
            transform: scale3d(1, 1, 1);
    opacity: 1;

    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1);

    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  20% {
            transform: scale3d(1.1, 1.1, 1.1);

    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
            transform: scale3d(.9, .9, .9);

    -webkit-transform: scale3d(.9, .9, .9);
  }

  60% {
            transform: scale3d(1.03, 1.03, 1.03);

    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
            transform: scale3d(.97, .97, .97);

    -webkit-transform: scale3d(.97, .97, .97);
  }

  to {
            transform: scale3d(1, 1, 1);
    opacity: 1;

    -webkit-transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

*:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  #app {
    transform: scale(.8) translateY(-50px);
  }
}

*::selection {
  color: #fff;
  background: #1939f6;
}

[v-cloak] {
  display: none;
}
